<h2>Welcome to Art Gallery by AJ Alcantara</h2>
<a href="/images/1">
<img src="/images/1.jpg" width="350px"></img>
</a>

<a href="/images/2">
<img src="/images/2.jpg" width="200px"></img>
</a>

<a href="/images/3">
<img src="/images/3.jpg" width="300px"></img>
</a>
    

